
<style type="text/css">
ul.store-list {
    overflow: hidden;
}
h4.s-title {
    border-bottom: 2px solid #65CEA7;
    color: #65CEA7;
    line-height: 36px;
}
ul.store-list>li:hover {
    cursor: pointer;
}
ul.store-list>li {
    list-style: none;
    background: #fff;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #DDD;
    border: 1px solid #aaa;
    font-size: 18px;
    float: left;
    padding: 10px 15px;
}
ul.store-list>li.success {
    border: none;
    background: #32c5cd!important;
    color: #fff!important;;
}
ul.store-list>li.current {
    border: none;
    background: #65CEA7!important;
    color: #fff!important;
}
.smart-widget-body {
    overflow: hidden;
}
.store-key {
    width: 80px;
    float: left;
}
.store-value {
    width: 90%;
    float: left;
}
.menu-table {
    position: relative;
}
.store-detail {
    position: relative;
    clear: both;
}
.ribbon-wrapper {
    z-index: 2;
}
.no {
    display: none;
}
</style>

<div class="smart-widget widget-dark-blue">
    <div class="smart-widget-header">
        今日订单
        <span class="smart-widget-option">
            <span class="refresh-icon-animated">
                <i class="fa fa-circle-o-notch fa-spin"></i>
            </span>
            <a href="#" class="widget-toggle-hidden-option">
                <i class="fa fa-cog"></i>
            </a>
            <a href="#" class="widget-collapse-option" data-toggle="collapse">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a href="#" class="widget-refresh-option">
                <i class="fa fa-refresh"></i>
            </a>
            <a href="#" class="widget-remove-option">
                <i class="fa fa-times"></i>
            </a>
        </span>
    </div>
    <div class="smart-widget-inner">
        <div class="smart-widget-hidden-section">
            <ul class="widget-color-list clearfix">
                <li style="background-color:#20232b;" data-color="widget-dark"></li>
                <li style="background-color:#4c5f70;" data-color="widget-dark-blue"></li>
                <li style="background-color:#23b7e5;" data-color="widget-blue"></li>
                <li style="background-color:#2baab1;" data-color="widget-green"></li>
                <li style="background-color:#edbc6c;" data-color="widget-yellow"></li>
                <li style="background-color:#fbc852;" data-color="widget-orange"></li>
                <li style="background-color:#e36159;" data-color="widget-red"></li>
                <li style="background-color:#7266ba;" data-color="widget-purple"></li>
                <li style="background-color:#f5f5f5;" data-color="widget-light-grey"></li>
                <li style="background-color:#fff;" data-color="reset"></li>
            </ul>
        </div>
        <div class="widget-tab clearfix">
            <ul class="tab-bar">
                <li class="active"><a href="#noon" data-toggle="tab"><i class="fa fa-sun-o"></i>&nbsp;&nbsp;午餐</a></li>
                <li class=""><a href="#night" data-toggle="tab"><i class="fa fa-star-o"></i>&nbsp;&nbsp;晚餐</a></li>
            </ul>
        </div>
        <div class="smart-widget-body">
            <div class="tab-content">
                <div class="tab-pane fade active in" id="noon">
                    <p class="text-center no">
                        当前还没有员工订餐~
                    </p>
                    <div class="ex">
                        <ul class="store-list">
                            <!-- <li class="success">店铺1</li>
                            <li class="current">店铺2</li>
                            <li>店铺3</li> -->
                        </ul>
                        <h4 class="s-title">店铺订单详细</h4>
                        <div class="store-info col-sm-12 no-padding">
                            <p class="clearfix store-key">店铺名称：</p>
                            <p class="clearfix store-value">店铺2</p>
                            <p class="clearfix store-key">店铺电话：</p>
                            <p class="clearfix store-value">15801094323</p>
                            <p class="clearfix store-key">店铺地址：</p>
                            <p class="clearfix store-value">湘潭大学</p>
                        </div>
                        <div class="store-detail">
                            <div class="ribbon-wrapper">
                                <div class="ribbon-inner shadow-pulse bg-success">
                                    已订
                                </div>
                            </div>
                            <table class="table table-bordered menu-table">
                                <thead>
                                    <tr>
                                        <th>菜名</th>
                                        <th>数量</th>
                                        <th>说明</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <div class="text-center">
                                <buttion class="btn btn-success order">已订餐</buttion>
                                <buttion class="btn btn-info send">已送餐</buttion>
                            </div>
                        </div>
                    </div>
                </div><!-- ./tab-pane -->
                <div class="tab-pane fade" id="night">
                    <p class="text-center no">
                        当前还没有员工订餐~
                    </p>
                    <div class="ex">
                        <ul class="store-list">
                            <!-- <li class="success">店铺1</li>
                            <li class="current">店铺2</li>
                            <li>店铺3</li> -->
                        </ul>
                        <h4 class="s-title">店铺订单详细</h4>
                        <div class="store-info col-sm-12 no-padding">
                            <p class="clearfix store-key">店铺名称：</p>
                            <p class="clearfix store-value">店铺2</p>
                            <p class="clearfix store-key">店铺电话：</p>
                            <p class="clearfix store-value">15801094323</p>
                            <p class="clearfix store-key">店铺地址：</p>
                            <p class="clearfix store-value">湘潭大学</p>
                        </div>
                        <div class="store-detail">
                            <div class="ribbon-wrapper">
                                <div class="ribbon-inner shadow-pulse bg-success">
                                </div>
                            </div>
                            <table class="table table-bordered menu-table">
                                <thead>
                                    <tr>
                                        <th>菜名</th>
                                        <th>数量</th>
                                        <th>说明</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <div class="text-center">
                                <buttion class="btn btn-success order">已订餐</buttion>
                                <buttion class="btn btn-info send">已送餐</buttion>
                            </div>
                        </div>
                    </div>
                </div><!-- ./tab-pane -->
            </div><!-- ./tab-content -->
        </div>
    </div>
</div>


<script type="text/javascript">
$(function () {

    var orderMeal = {
        storeDetailData: null,
        storeData: null,
        meal_time: 'noon',
        noon: '{$noon}',
        night: '{$night}',
        currentId: null,
        showStore: function (meal_time) {
            if (_type(this.storeData) == 'array' && this.storeData.length == 0) {
                $('#' + meal_time + '>.ex').css('display', 'none');
                $('#' + meal_time + '>.no').css('display', 'block');
                return false;
            }

            $('#' + meal_time + '>.ex').css('display', 'block');
            $('#' + meal_time + '>.no').css('display', 'none');

            var store = this.storeData;
            var storeList = $('.store-list').html('');
            var current = 0;
            for (var k in store) {
                if (store[k].status == 'new') {
                    if (current == 0) {
                        current = 1;
                        storeList.append('<li class="current" data-id="' + k + '">' + store[k].store_name + '</li>');
                    } else {
                        storeList.append('<li data-id="' + k + '">' + store[k].store_name + '</li>');
                    }
                } else if (store[k].status == 'order_success') {
                    storeList.append('<li class="success" data-id="' + k + '">' + store[k].store_name + '</li>');
                } else if (store[k].status == 'send_success') {
                    storeList.append('<li class="success" data-id="' + k + '">' + store[k].store_name + '</li>');
                }
            }
            if (current == 0) {
                $('.store-list>li').eq(0).addClass('current');
            }
        },
        showOrderData: function () {
            var data = this.storeDetailData;
            $('.store-value').eq(0).text(data.name);
            $('.store-value').eq(1).text(data.phone);
            $('.store-value').eq(2).text(data.adress);

            switch (data.status) {
                case 'new':
                    $('.ribbon-wrapper').css('display', 'none');
                    $('.order,.send').css('display', 'inline-block');
                    break;
                case 'order_success':
                    $('.order').css('display', 'none');
                    $('.send').css('display', 'inline-block');
                    $('.ribbon-wrapper').css('display', 'block');
                    $('.shadow-pulse').text('已订');
                    break;
                case 'send_success':
                    $('.send,.order').css('display', 'none');
                    $('.ribbon-wrapper').css('display', 'block');
                    $('.shadow-pulse').text('已派送');
                    break;
            }


            var tbody = $('.menu-table>tbody');
            tbody.html('');
            var row;
            var tds;
            var dish = data['dish'];
            for (var k in dish) {
                row = 1;
                console.log(dish[k].desc);
                row = dish[k].desc.length;
                tds = '';
                tds = '<tr><td rowspan="' + row + '">' + dish[k].dish_name + '</td>';
                tds += '<td rowspan="' + row + '">X' + dish[k].count + '</td>';
                var desc = dish[k].desc;
                for (var k1 in desc) {
                    if (k1 == 0) {
                        tds += '<td>' + desc[k1] +'</td></tr>';
                    } else {
                        tds += '<tr><td>' + desc[k1] + '</td></tr>'
                    }
                }
                tbody.append(tds);
            }
        },
        loadStoreDetailData: function (store_id, meal_time) {
            if (!store_id) {
                return false;
            }
            $.post('__APP__/admin/index/getOrderDataByStore', {"id": store_id, "meal_time": meal_time}, function(res) {
                if (res.status == 'ok') {
                    orderMeal.storeDetailData = res.data;
                    orderMeal.showOrderData();
                } else {
                    Common.alertDialog(res.data);
                }
            }, 'json')
            .error(function () {
                Common.alertDialog('网络错误，请稍后再试');
            });
        },
        loadStoreData: function (meal_time) {
            meal_time = meal_time == 'night' ? meal_time : 'noon';
            var now = new Date();
            var date = now.Format('yyyy-MM-dd');
            var deadline = null;
            var str =  '';
            if (meal_time == 'noon') {
                deadline = new Date(date + ' ' + orderMeal.noon + ':00');
                str = '员工午餐订餐情况正在统计，请在' + orderMeal.noon + '后来查看~';
            } else {
                deadline = new Date(date + ' ' + orderMeal.night + ':00');
                str = '员工晚餐订餐情况正在统计，请在' + orderMeal.night + '后来查看~';
            }
            if (now < deadline) {
                $('.no').text(str);
                $('.no').css('display', 'block');
                orderMeal.showStore(meal_time);
                return false;
            } else {
                $('.no').text('当前还没有员工订餐~');
            }
            $.post('__APP__/admin/index/getTodayOrderStore', {"meal_time" : meal_time}, function (res) {
                if (res.status == 'ok') {
                    orderMeal.storeData = res.data
                    orderMeal.showStore(meal_time);
                    orderMeal.currentId = $('li.current').data('id');
                    orderMeal.loadStoreDetailData(orderMeal.currentId, orderMeal.meal_time);
                } else {
                    Common.alertDialog(res.data);
                }
            }, 'json')
            .error(function () {
                Common.alertDialog('网路错误，请稍后再试');
            });
        },
        bindEvent: function () {
            $('ul.tab-bar>li').on('click', function () {
                if ($(this).hasClass('active')) {
                    return false;
                }
                if ($(this).index() == 0) {
                    orderMeal.meal_time = 'noon';
                } else {
                    orderMeal.meal_time = 'night';
                }
                orderMeal.loadStoreData(orderMeal.meal_time);
            });

            $('ul.store-list').on('click', 'li', function () {
                if ($(this).hasClass('current')) {
                    return false;
                }
                $('.current').removeClass('current');
                $(this).addClass('current');
                orderMeal.currentId = $(this).data('id');
                orderMeal.loadStoreDetailData(orderMeal.currentId, orderMeal.meal_time);
            });

            $('.order').on('click', function () {
                $.post('__APP__/admin/index/updateStoreStatus', {"id": orderMeal.currentId, "meal_time": orderMeal.meal_time, "action":"order"}, function (res) {
                    if (res.status == 'ok') {
                        Common.alertDialog('订餐成功');
                        orderMeal.loadStoreDetailData(orderMeal.currentId, orderMeal.meal_time);
                    } else {
                        Common.alertDialog(res.data);
                    }
                }, 'json')
                .error(function () {
                    Common.alertDialog('网络错误，请稍后再试');
                });
            });

            $('.send').on('click', function () {
                $.post('__APP__/admin/index/updateStoreStatus', {"id": orderMeal.currentId, "meal_time": orderMeal.meal_time, "action":"send"}, function (res) {
                    if (res.status == 'ok') {
                        Common.alertDialog('已收到订餐');
                        orderMeal.loadStoreDetailData(orderMeal.currentId, orderMeal.meal_time);
                    } else {
                        Common.alertDialog(res.data);
                    }
                }, 'json')
                .error(function () {
                    Common.alertDialog('网络错误，请稍后再试');
                });
            });

        },
        init: function () {
            this.loadStoreData();
            this.bindEvent();

        }
    };

    orderMeal.init();

});


</script>
