<link href="css/datepicker-custom.css" rel="stylesheet">
<script src="js/bootstrap-datepicker.js"></script>
<div class="smart-widget widget-dark-blue">
<div class="smart-widget-header">
    财务情况
    <span class="smart-widget-option">
        <span class="refresh-icon-animated">
            <i class="fa fa-circle-o-notch fa-spin"></i>
        </span>
        <a href="#" class="widget-toggle-hidden-option">
            <i class="fa fa-cog"></i>
        </a>
        <a href="#" class="widget-collapse-option" data-toggle="collapse">
            <i class="fa fa-chevron-up"></i>
        </a>
        <a href="#" class="widget-refresh-option">
            <i class="fa fa-refresh"></i>
        </a>
        <a href="#" class="widget-remove-option">
            <i class="fa fa-times"></i>
        </a>
    </span>
</div>
<div class="smart-widget-inner">
    <div class="smart-widget-hidden-section">
        <ul class="widget-color-list clearfix">
            <li style="background-color:#20232b;" data-color="widget-dark"></li>
            <li style="background-color:#4c5f70;" data-color="widget-dark-blue"></li>
            <li style="background-color:#23b7e5;" data-color="widget-blue"></li>
            <li style="background-color:#2baab1;" data-color="widget-green"></li>
            <li style="background-color:#edbc6c;" data-color="widget-yellow"></li>
            <li style="background-color:#fbc852;" data-color="widget-orange"></li>
            <li style="background-color:#e36159;" data-color="widget-red"></li>
            <li style="background-color:#7266ba;" data-color="widget-purple"></li>
            <li style="background-color:#f5f5f5;" data-color="widget-light-grey"></li>
            <li style="background-color:#fff;" data-color="reset"></li>
        </ul>
    </div>
    <div class="smart-widget-body no-padding">
        <div class="padding-md" style='overflow: hidden;'>
            <div class="col-sm-12">
                <form action="" class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-1">月份</label>
                        <div class="col-md-2">
                            <div data-date-minviewmode="months" data-date-viewmode="years" data-date-format="yyyy-mm" data-date="{$date}"  class="input-group input-append date dpMonths">
                                <input type="text" readonly="" value="{$date}" size="16" class="month input-sm form-control">
                                <span class="input-group-btn add-on">
                                    <button class="btn btn-primary" type="button"><i class="fa fa-calendar"></i></button>
                              </span>
                            </div>
                            <span class="help-block">选择需要查询的月份</span>
                        </div>
                        <input type="button" value="查询" class="sub btn btn-sm btn-info">
                    </div>
                </form>
            </div>
            <div id="totalPercentChart" class="morris-chart col-sm-12" style="height:250px;"></div>
        </div>
        <div class="bg-grey">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h3 class="m-top-sm" id="total"></h3>
                    <small class="m-bottom-sm block">合计</small>
                </div>
            </div>
        </div>
    </div>
</div><!-- ./smart-widget-inner -->
</div><!-- ./smart-widget -->

<script type="text/javascript">
    $(function  ()  {
        $('.dpMonths').datepicker().on('changeMonth', function () {
            alert('s');
        });
    });

    var orderStat = {
        statData: null,
        total: 0,
        updateChars: function () {
            $('#totalPercentChart').html('');
            Morris.Line({
                element: 'totalPercentChart',
                data: orderStat.statData,
                xkey: 'date',
                ykeys: ['noon', 'night', 'total'],
                labels: ['午餐', '晚餐', '总数'],
                lineColors: ['#fbc852', '#23b7e5', '#e36159'],
                yLabelFormat: function (y) {
                    return y + '元';
                }
            });
            $('#total').text(orderStat.total + '元');
        },
        loadData: function () {
            var args = {};
            args.month = $('.month').val();
            $.post('__APP__/stat/index/getMoneyByMonth', args, function (res) {
                if (res.status == 'ok') {
                    orderStat.statData = res.data;
                    orderStat.total = res.total;
                    orderStat.updateChars();
                } else {
                    Common.alertDialog(res.data);
                }
            }, 'json')
            .error(function () {
                Common.alertDialog('网络错误，请稍后再试', function () {
                    location.reload();
                });
            });
        },
        bindEvent: function () {
            $('.sub').on('click', function () {
                orderStat.loadData();
            });
        },
        init: function () {
            this.bindEvent();
            this.loadData();
        }
    };
    orderStat.init();

</script>




